---
---

@import 'constants';
@import url('fonts.css');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $BACKGROUND;

  font: normal $TEXT-SIZE-MOBILE $FONT-TEXT;
  color: $TEXT-COLOR;

  @include media-query(DESKTOP) {
    font: normal $TEXT-SIZE $FONT-TEXT;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a {
  font: normal $TEXT-SIZE $FONT-TEXT;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

#navbar-mobile {
  display: block;
  width: 100%;
  z-index: 10;
  position: relative;
  padding: 30px 0;
  text-align: center;

  #menu-retratil {
    position: absolute;
    z-index: 20;
    width: 100%;
    background-color: $BACKGROUND;
    top: 0;
    padding-top: 30px;
    transition: left 0.3s linear;
  }

  .show-menu {
    position: absolute;
    left: 2 * $RESPONSIVE-SPACING;
    top: 30px;
    font-size: 24px;
  }

  .hide-menu {
    position: absolute;
    top: 20px;
    right: 2 * $RESPONSIVE-SPACING;
    font-size: 24px;
  }

  .menu-section {
    width: 66%;
    margin: 0 auto;
  }

  @include media-query(DESKTOP) {
    display: none;
  }
}

.navbar-hide {
  left: -100vw;
  @include media-query(DESKTOP) {
    left: 0;
  }
}
.navbar-show {
  left: 0;
}

.menu-section {
  border-top: 2px #000 solid;
  padding: 10px 0;
  li {
    text-transform: uppercase;
    font: normal $MENU-ITEM-SIZE $FONT-MENU;
    line-height: 1.7;
    vertical-align: middle;
  }
}

.menu-logo {
  height: 100%;
  min-height: 90px;
  background-image: url("{{site.baseurl}}/media/images/logo_vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#navbar {
  padding: 30px 0;
  box-sizing: border-box;
  background-color: $MENU-BACKGROUND-COLOR;
  width: 100%;
  display: none;
  @include media-query(DESKTOP) {
    display: flex;
    flex-direction: row;
  }

  .menu-title {
    width: 25%;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2vw;
    width: 66%;
  }

  .menu-section {
    width: 20%;
    max-width: 200px;
    min-width: 120px;
  }
  .menu-section+.menu-section {
    margin-left: 10%;
  }
}

#navbar-mobile ul, #navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  padding: 0;
  font-size: $MENU-ITEM-SIZE;
  font-weight: normal;
  color: $MENU-TEXT-COLOR;
  text-transform: none;
  display: inline;

  @include media-query(DESKTOP) {
    font-size: $MENU-ITEM-SIZE;
  }

  &:visited {
    color: $MENU-TEXT-COLOR;
  }

  &:hover {
    color: $MENU-TEXT-HOVER-COLOR;
  }
}

.menu-icon {
  font: normal 1.5rem $FONT-MENU;
  color: $LINK-COLOR;
  cursor: pointer;
  transition: color $TRANSITION-PERIOD linear;

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

.about-section-wrapper {
  margin-top: 32px;

  .about-section {
    border-top: 2px #000 solid;
    width: auto;
    display: inline;
    padding: 8px 1px 0;
  }
}

.about-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;

  @include media-query(DESKTOP) {
    flex-direction: row;
    align-items: flex-end;
  }

  .about-nav-item {
    text-transform: uppercase;
    font: normal 1rem $FONT-MENU;
    padding: 8px 12px;
    margin: 4px 0;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    transition: background-color $TRANSITION-PERIOD linear;
    width: 80%;
    text-align: left;

    &:hover {
      background-color: #888;
    }

    @include media-query(DESKTOP) {
      margin: 0;
      width: 15%;
      text-align: center;
    }
  }
}

.about-subtitle {
  font-family: $FONT-TITLE;
}

.main-div {
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin: $RESPONSIVE-SPACING auto;

  @include media-query(DESKTOP) {
    width: 100%;
    margin: $RESPONSIVE-SPACING auto;
  }

  section + section {
    margin-top: 45px;
  }

  content {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border-radius: 5px;
    }
  }
}

.content-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font: 200 $TEXT-SIZE $FONT-TEXT;
  line-height: 1.2;
  word-spacing: $TEXT-SIZE/10;
  text-align: justify;

  @include media-query(DESKTOP) {
    max-width: 700px;
  }
}

.project-list {
  border-top: 1px #000 dashed;
  padding-top: 70px;
}

.news-list, .project-list, .people-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  @include media-query(DESKTOP) {
    width: 85%;
  }

  .list-item {
    display: block;
    width: 80%;
    margin: 0 auto 24px;
    min-height: 200px;
    min-width: 260px;

    @include media-query(DESKTOP) {
      width: 45%;
      margin: 0 0 24px;
    }
  }
    
  .people-list-item {
    display: block;
    width: 80%;
    margin: 0 auto 24px;
    padding: 0 10px;
    min-height: 200px;
  
    @include media-query(DESKTOP) {
      width: 23%;
      margin: 0 0 24px;
    }
  }

  .list-item-image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .people-image{
    max-height: 200px;  
  }
  .list-item-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0;
    border-radius: 5px;
    font: normal $LINK-SIZE $FONT-TITLE;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0), rgba(32,32,32,0.8));
  }
}
.people-list{
justify-content: flex-start; 
}

.footer {
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
  padding: 12px 0;
  border-top: 1px #000 dashed;
  @include media-query(DESKTOP) {
    width: 85%;
  }
}

.footer-line {
  line-height: 1.7;
  vertical-align: middle;
}
a.footer-line {
  text-decoration: underline;
  font-weight: 200;
}

i.fa-1_5x {
  font-size: 1.5em;
}

.ford-logo {
  height: 48px;
  background-image: url('{{ site.baseurl }}/media/images/ford_logo_black.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-bottom: 24px;
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  .swipebox {
    margin: 24px 5px 0;
    width: 45%;

    @include media-query(DESKTOP) {
      width: 22%;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
