---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $BACKGROUND;

  font: normal $TEXT-SIZE-MOBILE $FAMILY-SANS;
  color: $TEXT-COLOR;

  @include media-query(DESKTOP) {
    font: normal $TEXT-SIZE $FAMILY-SANS;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a {
  font: 900 $LINK-SIZE-MOBILE $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  @include media-query(DESKTOP) {
    font: 900 $LINK-SIZE $FAMILY-SANS;
  }

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

#navbar-mobile {
  display: block;
  z-index: 10;
  position: relative;
  padding: $RESPONSIVE-SPACING 0 $RESPONSIVE-SPACING / 2;
  text-align: center;

  #menu-retratil {
    position: absolute;
    z-index: 20;
    width: 100%;
    background-color: $BACKGROUND;
    top: 0;
    padding-top: $RESPONSIVE-SPACING*2;
    transition: left 0.3s linear;
  }

  .show-menu {
    position: absolute;
    left: 2 * $RESPONSIVE-SPACING;
    top: 3vw;
  }

  .hide-menu {
    position: absolute;
    top: $RESPONSIVE-SPACING / 2;
    right: $RESPONSIVE-SPACING / 2;
  }

  .menu-section {
    width: 66%;
    margin: 0 auto;
  }

  @include media-query(DESKTOP) {
    display: none;
  }
}

.navbar-hide {
  left: -100vw;
  @include media-query(DESKTOP) {
    left: 0;
  }
}
.navbar-show {
  left: 0;
}

.menu-section {
  border-top: 2px #000 solid;
  li {
    text-transform: uppercase;
  }
}

.menu-logo {
  height: 100%;
  min-height: 90px;
  background-image: url("{{site.baseurl}}/media/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#navbar {
  padding: 30px 0;
  box-sizing: border-box;
  background-color: $MENU-BACKGROUND-COLOR;
  width: 100%;
  display: none;
  @include media-query(DESKTOP) {
    display: flex;
    flex-direction: row;
  }

  .menu-title {
    width: 25%;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2vw;
    width: 66%;
  }

  .menu-section {
    width: 20%;
    max-width: 200px;
    min-width: 120px;
  }
  .menu-section+.menu-section {
    margin-left: 10%;
  }
}

#navbar-mobile ul, #navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-item {
  padding: 0;
  font-size: $MENU-ITEM-SIZE;
  font-weight: normal;
  color: $MENU-TEXT-COLOR;
  text-transform: none;
  display: inline;

  @include media-query(DESKTOP) {
    font-size: $MENU-ITEM-SIZE;
  }

  &:visited {
    color: $MENU-TEXT-COLOR;
  }

  &:hover {
    color: $MENU-TEXT-HOVER-COLOR;
  }
}

.menu-icon {
  font: normal 1.5rem $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $TRANSITION-PERIOD linear;

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

.main-div {
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin: $RESPONSIVE-SPACING auto;

  @include media-query(DESKTOP) {
    width: 100%;
    margin: $RESPONSIVE-SPACING auto;
  }

  content {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border-radius: 5px;
    }
  }
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  .swipebox {
    margin: 24px 5px 0;
    width: 45%;

    @include media-query(DESKTOP) {
      width: 22%;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
