<div class="footer">
  <div class="footer-line">Silo - Arte e Latitude Rural</div>
  <a class="footer-line" href="mailto:contato@silo.org.br" target="_blank">contato@silo.org.br</a>
  <div class="footer-line">
    {% include social-icons.html %}
  </div>

  {% assign paypal_button = 'https://www.paypalobjects.com/pt_BR/i/btn/btn_donate_LG.gif' %}
  {% if page.lang == 'en' %}
    {% assign paypal_button = 'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif' %}
  {% endif %}
  <div class="footer-line" style="margin-top: 10px;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="YDQYQUTLYYQ9N" />
    <input type="image" src="{{ paypal_button }}" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
</div>

{% if page.permalink == '/' or page.permalink == '/en/' %}
  <div class="footer">
    {% assign app_sup = 'Apoio:' %}
    {% if page.lang == 'en' %}
      {% assign app_sup = 'Support:' %}
    {% endif %}
    <div class="footer-line">{{ app_sup }}</div>
    <a href="https://www.fordfoundation.org/" target="_blank">
      <div class="footer-line parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/ford_black.svg');"></div>
    </a>
    <br>
    <a href="https://serrapilheira.org" target="_blank">
      <div class="footer-line parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/serrapilheira.png');');">
    </div>
    </a>
    <a href="https://www.ibirapitanga.org.br/" target="_blank">
      <div class="footer-line parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/ibirapitanga.png');');">
    </div>
    </a>
    
  </div>
{% endif %}
