<div class="footer">
  <div class="footer-line">Silo - Arte e Latitude Rural</div>
  <a class="footer-line" href="mailto:contato@silo.org.br" target="_blank">contato@silo.org.br</a>
  <div class="footer-line">
    {% for social in site.social %}
      {% unless social[1] == "" %}
        <a class="menu-item" href="{{ social[1] }}" target="_blank">
          <i class="fa fa-{{ social[0] }}" aria-hidden="true"></i>
        </a>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% if page.permalink == '/' %}
  <div class="footer">
    <div class="footer-line">Financiamento:</div>
    <a href="https://www.fordfoundation.org/" target="_blank">
      <div class="footer-line ford-logo"></div>
    </a>
  </div>
{% endif %}
