<div class="menu-section">
  <ul>
    {% case page.lang %}
      {% when 'en' %}
        <li><a href="/about/">about</a></li>
        <li><a href="/who-we-are/">who we are</a></li>
        <li><a href="/news/">news</a></li>
      {% else %}
        <li><a href="/sobre/">sobre</a></li>
        <li><a href="/quem-somos/">quem somos</a></li>
        <li><a href="/noticias/">notícias</a></li>
    {% endcase %}
  </ul>
</div>
<div class="menu-section">
  <ul>
    {% case page.lang %}
      {% when 'en' %}
        <li><a href="/en/caipiratechlab/">caipiraTech</a></li>
        <li><a href="/en/encontrada/">encontrada</a></li>
        <li><a href="/en/interactivos/">interactivos?</a></li>
        <li><a href="/en/residencia/">residência</a></li>
      {% else %}
        <li><a href="/caipiratechlab/">caipiraTech</a></li>
        <li><a href="/encontrada/">encontrada</a></li>
        <li><a href="/interactivos/">interactivos?</a></li>
        <li><a href="/residencia/">residência</a></li>
    {% endcase %}
  </ul>
</div>
<div class="menu-section">
  {% include social-icons.html %}
  {% include language-selection.html %}
</div>
