<div class="menu-section">
  <ul>
    <li><a href="/sobre">sobre</a></li>
    <li>quem somos</li>
    <li>notícias</li>
  </ul>
</div>
<div class="menu-section">
  <ul>
    <li><a href="http://encontrada.org" target="_blank">encontrada</a></li>
      <li><a href="http://interactivos16.info" target="_blank">interactivos?</a></li>
    <li><a href="http://resilience-residence.com" target="_blank">residência</a></li>
  </ul>
</div>
<div class="menu-section">
  {% for social in site.social %}
    {% unless social[1] == "" %}
      <a class="menu-item" href="{{ social[1] }}" target="_blank">
        <i class="fa fa-{{ social[0] }} fa-1_5x" aria-hidden="true"></i>
      </a>
    {% endunless %}
  {% endfor %}
</div>
