<div id="navbar-mobile">
  <i class="fa fa-bars menu-icon show-menu" aria-hidden="true" onclick="showMenu()"></i>
  <a class="menu-title" href="{{ site.baseurl }}/">
    <img src="/media/images/logo.png">
  </a>
  <div id="menu-retratil" class="navbar-hide">
    <div class="menu-icon hide-menu" onclick="hideMenu()">✖</div>
    {% include menuitems.html %}
  </div>
</div>

<div id="navbar">
  <a class="menu-title" href="{{ site.baseurl }}/">
    <img src="">
  </a>
  <div class="menu-container">
    {% include menuitems.html %}
  </div>
</div>

<script>
  function showMenu() {
    document.getElementById('menu-retratil').classList.remove("navbar-hide");
    document.getElementById('menu-retratil').classList.add("navbar-show");
  }

  function hideMenu() {
    document.getElementById('menu-retratil').classList.remove("navbar-show");
    document.getElementById('menu-retratil').classList.add("navbar-hide");
  }
</script>
