<section class="list-wrapper" id="{{ include.section }}">
  <div class="people-section-title-wrapper">
    <h2 class="people-section-title">{{ include.section }}</h2>
  </div>
  <div class="people-list">
    {% for page in site.pages %}
      {% if page.category contains include.section %}
        {% assign pCover = site.baseurl | append: '/' | append: page.cover %}
        <div class="people-list-item">
          <div class="people-image-wrapper">
            <div class="list-item-image people-image" style="background-image: url('{{ pCover }}');"></div>
          </div>
          <div class="list-item-title people-title">{{ page.title }}</div>
          {% if page.link %}
            <a class="people-link" href="http://{{ page.link }}/" target="_blank">
              {{ page.link }}
            </a>
          {% else %}
            <a class="people-link hidden-link" href="" target="_blank">___</a>
          {% endif %}
          <div class="content-text people-text">{{ page.content }}</div>
        </div>
      {% endif %}
   {% endfor %}
  </div>
</section>
