<div class="swipebox-gallery">
  {% for file in site.static_files %}
    {% if file.path contains "serrinha_" %}
      <a href="{{ site.baseurl }}{{ file.path }}" class="swipebox swipebox-residence-call-gallery-serrinha"  title="Serrinha do Alambari">
        <img src="{{ site.baseurl }}{{ file.path }}" alt="Serrinha do Alambari">
      </a>
    {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  (function($) {
    $( '.swipebox-residence-call-gallery-serrinha' ).swipebox({
      hideBarsDelay : 3000000
    });
  })(jQuery);
</script>