{% if page.permalink == '/sobre/' %}
  <div class="about-nav">
    <a class="nav-item" onclick="scrollToId('#o-que-e')">O que é</a>
    <a class="nav-item" onclick="scrollToId('#o-que-fazemos')">O que fazemos</a>
    <!--- <a class="nav-item" onclick="scrollToId('#para-quem-fazemos')">Para quem fazemos</a> --->
    <a class="nav-item" onclick="scrollToId('#historico')">Histórico</a>
    <!--- <a class="nav-item" onclick="scrollToId('#valores')">Valores</a> --->
    <a class="nav-item" onclick="scrollToId('#apoio')">Apoio</a>
  </div>
{% endif %}

{% if page.permalink == '/quem-somos/' %}
  <div class="people-nav">
    <a class="nav-item" onclick="scrollToId('#diretoria')">Diretoria</a>
    <a class="nav-item" onclick="scrollToId('#associadas')">Associadas</a>
    <!--- <a class="nav-item" onclick="scrollToId('#conselho')">Conselho</a> --->
  </div>
{% endif %}
