<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="main-div">
      <section class="content-text">{{ content }}</section>
      <section class="list-wrapper">
        <a href="/noticias/"><h2>Últimas Notícias</h2></a>
        <div class="home-list">
          {% for post in site.posts limit: 2 %}
            {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <a class="list-item" href="{{ site.baseurl }}{{ post.url }}">
              <div class="list-item-image" style="background-image: url('{{ pCover }}');">
                <div class="list-item-title">{{ post.title }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
        <a href="/noticias/"><h3 class="more-news-link">mais notícias...</h3></a>
      </section>
      <section class="list-wrapper project-list">
        <h2>Projetos:</h2>
        <div class="home-list">
          {% for page in site.pages %}
            {% if page.path contains 'projects' %}
              {% assign pCover = site.baseurl | append: '/' | append: page.cover %}
              <a class="list-item" target="_blank" href="{{ site.baseurl }}{{ page.link }}">
                <div class="list-item-image" style="background-image: url('{{ pCover }}');">
                  <div class="list-item-title">{{ page.title }}</div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
