<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="main-div">
      <section class="people-list">
        {% for page in site.pages %}
          {% if page.category contains 'people'%}
            {% assign pCover = site.baseurl | append: '/' | append: page.cover %}
            <div class="people-list-item">
              <div class="people-list-item-wrapper">
                <div class="list-item-image people-image" style="background-image: url('{{ pCover }}');">
                  <div class="list-item-title">{{ page.title }}</div>
                </div>
              </div>
              <div class="content-text people-text">{{ page.content }}</div>
            </div>
          {% endif %}
       {% endfor %}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
